body {
  padding: 20px;
}

main {
  padding: 20px;
}

.header__title {
  width: 50vw;
  margin-bottom: 2em;
  border-bottom: dotted 1px grey;
}
@media all and (max-width: 996px) {
  .header__title {
    width: 100%;
  }
}

.topBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: darkcyan;
}

.mainMenu {
  display: flex;
  flex-direction: row;
}
.mainMenu__item {
  list-style: none;
  padding-left: 2em;
  color: white;
}

.counter {
  margin: 1em;
}
.counter h5 {
  color: white;
}
.counter__number {
  color: white;
}

.clock {
  margin: 1em;
  color: white;
}

.clock h5 {
  color: white;
}
.clock__value {
  color: white;
}

.article {
  padding: 2em 1em 1em 1em;
}
.article__title {
  padding: 1em 0 0.5em 0;
  text-decoration: underline;
}

.article__subtitle {
  padding: 0 0 2em 1em;
}

.article__content--paragraph {
  padding-bottom: 1em;
  text-indent: 1.25em;
}
.article__comments {
  margin-top: 30px;
}
.article__comments--title {
  text-decoration: underline;
  padding-bottom: 1em;
}

.article__comments .article__comment {
  padding: 1em;
}
.article__comments .article__comment--from {
  font-weight: bold;
  color: darkcyan;
}
.article__comments .article__comment--replies {
  margin-top: 5px;
  border-left: solid darkcyan 4px;
}
